.zim{
    background-color: rgb(75, 213, 247);
    font-size: 30px;
}
.zom{
    background-color: rgb(151, 227, 246);
    font-size: 20px;
    text-align: center;
}
.pim{
    background-color: rgb(151, 227, 246);
    font-size: 20px;
    text-align: center;
}
.pom{
    background-color: rgb(151, 227, 246);
    font-size: 20px;
    text-align: center;
}
.dim{
    background-color: rgb(151, 227, 246);
    font-size: 20px;
    text-align: center;
}
.dom{
    background-color: rgb(151, 227, 246);
    font-size: 20px;
    text-align: center;
}